.MuiPaper-root.MuiPaper-elevation2.MuiPaper-rounded {
  width: 100%;
  height: 100%;
}

.MuiPaper-root div:nth-child(2) {
  padding-left: 24px;
}

.MuiPaper-root div:nth-child(2) .MuiTable-root {
  height: 414px;
}
